# Core
APP_MODE=streaming
WEB_APP_URL=http://localhost:5173
API_PORT=3000

# Database
DATABASE_URL=postgresql://neko:neko@localhost:5432/nekoanimes
REDIS_URL=redis://localhost:6379

# Admin
NEXT_PUBLIC_API_URL=http://localhost:3000

# Web
VITE_API_URL=http://localhost:3000
